* {
    font-family: 'PingFang TC', 'Microsoft JhengHei', sans-serif;
}

#add {
    padding: 30px;
}

#main {
    font-size: 12px;
}

#main .row {
    display: flex;
    align-items: center;
}
#main .row div:nth-child(1) {
    font-size: 16px;
}
#main .row:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}
#main .row:first-child {
    background-color: #000;
    color: #FFF;
}
#main .row div {
    text-align: center;
    overflow-x: auto;
}
#main .hour {
    padding: 20px 0;
    display: inline-block;
    width: 26px;
    background-color: #FFF;
    font-size: 14px;
    -webkit-user-select: none;
}
/* #main .row div .hour:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
#main .row div .hour:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
} */


#main .hour.c18 {background-color: rgba(38, 42, 70, 0.7);color: #FFF;}
#main .hour.c19 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c20 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c21 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c22 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c23 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c00 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c01 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c02 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c03 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c04 {background-color: rgba(38, 42, 70, 0.8);color: #FFF;}
#main .hour.c05 {background-color: rgba(38, 42, 70, 0.7);color: #FFF;}
#main .hour.c06 {background-color: rgba(38, 42, 70, 0.6);color: #FFF;}
#main .hour.c07 {background-color: rgba(38, 42, 70, 0.5);color: #FFF;}
#main .hour.c08 {background-color: rgba(38, 42, 70, 0.4);color: #FFF;}

#main .hour.c09 {background-color: rgba(245, 208, 107, 0.8);color: rgb(31, 52, 71);}
#main .hour.c10 {background-color: rgba(245, 208, 107, 0.8);color: rgb(31, 52, 71);}
#main .hour.c11 {background-color: rgba(245, 208, 107, 0.5);color: rgb(31, 52, 71);}
#main .hour.c12 {background-color: rgba(245, 208, 107, 0.2);color: rgb(230, 41, 41);}
#main .hour.c13 {background-color: rgba(245, 208, 107, 0.5);color: rgb(31, 52, 71);}
#main .hour.c14 {background-color: rgba(245, 208, 107, 0.8);color: rgb(31, 52, 71);}
#main .hour.c15 {background-color: rgba(245, 208, 107, 0.8);color: rgb(31, 52, 71);}
#main .hour.c16 {background-color: rgba(245, 208, 107, 0.5);color: rgb(31, 52, 71);}
#main .hour.c17 {background-color: rgba(245, 208, 107, 0.8);color: rgb(31, 52, 71);}

#main .row div .hour.cur {
    border: 3px solid rgb(52, 170, 115);
    font-weight: bold;
    box-sizing: content-box;
    border-radius: 5px;
}